__pycache__/
*.pyc
.env
node_modules/
**/node_modules/
**/package-lock.json
dist/
boilerplate/**
./DS_store/**

.vscode/
*.code-workspace

# JetBrains IDE settings
.idea/
*.iml

*.zip

# Ignore archive and backup files
*.zip
*.old
*.bak
*.prev
*.orig
*.swp


